# macOS system files
.DS_Store

# MyST build directory
_build/

# other years of data
data/ca_ssi_adult_odp_2023.csv
data/ca_ssi_adult_odp_2022.csv
data/cdph_ssi_adult_odp_2021.csv
data/cdph_ssi_adult_odp_2020h1.csv
data/cdph_ssi_adult_odp_2020h2.csv
data/cdph_ssi_adult_odp_2019.csv
data/cdph_ssi_adult_odp_2018.csv
data/ssi-sir-2017-ca-cdph-adult_28procs_.csv
data/ssi-sir-2016-ca-cdph-adult28procssy10232017.csv

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz